<div class="card">
  <div class="item item-divider">
    Changelog
  </div>
  <div class="item item-text-wrap">
    <div>
        <strong>0.0.4 @ 31.10.2015</strong><br />
        Kesze w centrum Poznania
    </div>
      
    <br />
      
    <div>
        <strong>0.0.3 @ 31.10.2015</strong><br />
        Podstrona mapy<br />
        Testowy marker
    </div>
      
    <br />
      
    <div>
        <strong>0.0.2 @ 29.10.2015</strong><br />
        Podstrony
    </div>
      
    <br />
      
    <div>
        <strong>0.0.1 @ 29.10.2015</strong><br />
        Projekt<br />
        Prosty statyczny interfejs<br />
    </div>
  </div>
</div>